
exportPattern("getPeaks", "STARRseqData", "sample", "control")

import('GenomicRanges', 'GenomicAlignments', 'S4Vectors', 'methods', 'IRanges','GenomeInfoDb')
importFrom(stats, prop.test)

exportClasses(STARRseqData)

exportMethods(getPeaks, sample, 'sample<-', control, 'control<-')

